@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .no-scrollbar {
    @apply scrollbar-none; 
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer utilities {
  .scrollbar-none {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}